h1 {
  font-family: 'Dancing Script';
  font-size: 150px;

  @media (min-width: 445px) {
    font-size: 200px;
  }
}

a {
  color: hotpink;
  text-decoration: none;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main > h1 {
  background: url(../img/dozestudio.gif) repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
