.things {
  text-align: center;
  margin: 0 12%;
}

.row {
  margin: 5% 5%;
  padding: 20px 0px;
}

figcaption {
  font-size: 14px;
  color: white;
  margin-top: -20px;
  opacity: 0;
}

a:hover figcaption {
  opacity: 1;
}

#django-girls-1.row {
  background-image: linear-gradient(120deg, rgba(255,165,0, 0.2), rgba(190,104,190, 0.2));
}

#degree.row {
  background-image: linear-gradient(120deg, rgba(87,148,174, 0.2), rgba(31,155,35, 0.2));
}

#django-girls-2 {
  background-image: linear-gradient(120deg, rgba(254,251,1,0.2), rgba(31,155,35, 0.2));
}

#motivation {
  background-image: linear-gradient(120deg, rgba(165,42,42, 0.2), rgba(128,128,128, 0.2));
}

#test.row {
  background-image: linear-gradient(120deg, rgba(255,165,0, 0.2), rgba(190,104,190, 0.2));
  margin: 5% 5%;
  padding: 20px 0px;
}
